.popup__button_invalid {
  border: 1px solid black;
  padding: 14px 125px;
  margin-top: 47px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #c4c4c4;
  background-color: white;
  border-radius: 2px;
  box-shadow: none;
  opacity: 0.3;
}
